---
import { getCollection } from "astro:content";
import { WEB_TITLE, sortByLatest } from "../../common";
import BaseSite from "../../layouts/BaseSite.astro";
import BlogEntry from "../../components/BlogEntry.astro";

const posts = await getCollection("posts");
---

<BaseSite
  title="Posts"
  description={`A list of all posts available on ${WEB_TITLE}`}
>
  <h2 class="heading mono">
    <span>posts</span>

    <a class="random-post" href="/posts/random">
      <i class="ph ph-dice-five"></i> random post
    </a>
  </h2>

  <section class="articles-list">
    {sortByLatest(posts).map((post) => <BlogEntry post={post} />)}
  </section>
</BaseSite>

<style>
  .articles-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .heading {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
  }
  .random-post {
    display: flex;
    gap: 0.5em;
    align-items: center;
    font-size: 1rem;
    font-weight: normal;
  }
</style>
