---
import { getCollection } from "astro:content";
import BaseSite from "../../layouts/BaseSite.astro";
import { WEB_TAGS } from "../../common";

const posts = await getCollection("posts");
const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];
---

<BaseSite title="Tags" description="A list of tags on lotta dev">
  <h2 class="mono">Tags</h2>

  <section class="tags-list">
    <ul>
      {
        uniqueTags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>: {WEB_TAGS[tag]}
          </li>
        ))
      }
    </ul>
  </section>
</BaseSite>

<style>
  .tags-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
</style>
