---
import BaseSite from "../layouts/BaseSite.astro"
---

<BaseSite title="Not Found" description="Uh oh!">
    <h1>Umm, couldn't find anything.</h1>

    <p>
        Looks like the page you were looking for isn't here.  
    </p>

    <p>Hopefully the <a href="/">main page</a> gets you back on track.</p>
</BaseSite>
