---
import BaseSite from "../layouts/BaseSite.astro"
import { WEB_TITLE } from "../constants";
---

<BaseSite title={ `About ${WEB_TITLE}` } description="A bit about the website and its author">
    <section id="site">
        <h1>About this site</h1>

        <p>
            Lotta Dev is the personal programming blog of <b>Ángel Carias</b>.
            I mainly write about Python, projects I do, and other development 
            related interests.
        </p>

        <p>
            This website is incredibly simple. It is written in 
            <a href="https://astro.build/" target="_blank" 
               rel="noopener noreferrer">Astro</a> 
            and a bunch of Markdown.
        </p>
    </section>

    <section id="author">
        <h1>About the author</h1>

        <p>
            I'm <b>Ángel Carias</b>, a Honduran web developer and designer 
            that primarily writes libraries, web applications, and other useful 
            tools.
        </p>

        <ul>
            <li>
                🌱 My interests are mainly in programming and technology. 
                I am also slightly interested in aviation and just life in general.
            </li>
            <li>
                🏓 My first time programming was with Visual Basic .NET in 2015 but 
                I didn't really do much until I started learning Python sometime in 2019.
            </li>
            <li>
                🏕️ My main languages nowadays are Python and TypeScript. I also sometimes use
                Rust.
            </li>
            <li>
                🏘️ My web framework of choice is Svelte but I have also used Vue.
            </li>
        </ul>
    </section>

    <section id="legal">
        <h1>License & Attribution</h1>

        <p>
            Unless otherwise explicitly stated, all written content and attached assets
            (as in images, videos, and illustrations) on this site are provided under
            the <a href="https://creativecommons.org/licenses/by/4.0/deed.en" target="_blank" rel="noopener noreferrer">
                Creative Commons 4.0 Attribution License.
            </a>
        </p>

        <p>
            The source code powering this site is provided under the MIT License and can
            be found on <a href="https://github.com/aescarias/lotta-dev" target="_blank" rel="noopener noreferrer">
                Github
            </a>. 
        </p>

        <p>
            The icons used for the Github and RSS logo are part of the 
            <a href="https://phosphoricons.com/" target="_blank" rel="noopener noreferrer">
                Phosphor Icons
            </a> set which is provided under the MIT License. 
            
            The fonts used are <b>Source Code Pro</b> and <b>Nunito</b> which are both
            under the Open Font License.
        </p>
    </section>
</BaseSite>
