---
import BaseSite from "../layouts/BaseSite.astro"
import ExtLink from "../components/ExtLink.astro"
import { WEB_TITLE } from "../common"
---

<BaseSite title={ `About ${WEB_TITLE}` } description="A bit about the website and its author">
    <section id="site">
        <h1>About this site</h1>

        <p>
            Lotta Dev is the personal website of <b>Ángel Carias</b>.
            It also acts as my blog where I mainly write about programming, Python, 
            projects I do, and other interesting things.
        </p>

        <p>
            This website is incredibly simple. It is written in 
            <ExtLink href="https://astro.build/">Astro</ExtLink>
            and a bunch of Markdown.
        </p>
    </section>

    <section id="author">
        <h1>About the author</h1>

        <p>
            I'm <b>Ángel Carias</b>, a Honduran web developer and designer 
            that primarily writes libraries, web applications, and other useful 
            tools.
        </p>

        <ul>
            <li>
                🌱 My interests are mainly in programming and technology. 
                I am also slightly interested in aviation and just life in general.
            </li>
            <li>
                🏓 My first time programming was with Visual Basic .NET in 2015 but 
                I didn't really do much until I started learning Python sometime in 2019.
            </li>
            <li>
                🏕️ My main languages nowadays are Python and TypeScript. I also sometimes 
                use Rust.
            </li>
            <li>
                🏘️ My web frameworks of choice are Svelte and Astro but I have previously
                used Vue.
            </li>
        </ul>
    </section>

    <section id="legal">
        <h1>License & Attribution</h1>

        <p>
            Unless otherwise explicitly stated, all written content and any of its assets
            (as in images, videos, and illustrations) on this site are provided under
            the <ExtLink href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons 4.0 Attribution License</ExtLink>.
            See the site's <ExtLink href="https://github.com/aescarias/lotta-dev?tab=readme-ov-file">README</ExtLink>
            file for details.
        </p>

        <p>
            The source code for this website is available on 
            <ExtLink href="https://github.com/aescarias/lotta-dev">Github</ExtLink> 
            and is provided under the MIT License.
        </p>

        <p>
            The icons used on this website are part of 
            <ExtLink href="https://phosphoricons.com/">Phosphor Icons</ExtLink>,
            provided under the MIT License. The fonts used are <b>Source Code Pro</b> 
            and <b>Nunito</b> which are both under the Open Font License.
        </p>
    </section>
</BaseSite>
