---
const pathname = new URL(Astro.request.url).pathname;

interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a class={pathname === href ? "active" : ""} href={href}>
  <slot />
</a>
